.footer {
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: auto;

    &__content {
        padding: 38px 28px 28px 28px;
        border-radius: 30px 30px 0px 0px;
        background: #fff;
        
        .language__content {
            width: 115px;
            display: flex;
            align-items: center;

            .language {
                margin-left: 17px;
                font-size: 15px;
                font-weight: 500;

                &.active {
                    font-weight: 700;
                    color: #FFA542;
                }
            }
            b {
                cursor: pointer;
            }
        }
    }
    .social__media {
        height: 30px;
        display: flex;
        align-items: center;
        margin-left: 18px;

        @media (max-width: 710px) {
            margin-top: 30px;
            justify-content: end;
        }

        @media (max-width: 480px) {
            justify-content: center;
        }

        svg {
            margin-left: 18px;
            cursor: pointer;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        @media (max-width: 710px) {
            flex-direction: column;
        }

        .logo {
            font-size: 25px;
            font-weight: 700;
            color: #101010;
            margin-right: 70px;
            margin: 0;
            cursor: pointer;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        height: 83px;

        @media (max-width: 1200px) {
            gap: 30px;
        }

        @media (max-width: 710px) {
            margin-top: 30px;
            justify-content: center;
        }

        @media (max-width: 480px) {
            justify-content: space-between;
        }

        &--items {
            padding: 0;
            .menu__item {
                margin-bottom: 10px;
            }
        }
    }

    &__inner--block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 174px;
        gap: 44px;

        @media (max-width: 1200px) {
            margin: 0;
        }
        @media (max-width: 500px) {
            gap: 12px;
            margin-bottom: 0;
        }
    }

    &__text {
        font-size: 17px;
        font-weight: 400;
        color: #000;
        cursor: pointer;
    }
}