.container {
    padding: 100px 80px;
    text-align: center;
    .home a{
        color: #615b5b;
        &:hover {
            color: #000;
        }
    }

    @media (max-width: 440px) {
        padding: 100px 20px;
        .h1 {
            margin: 0;
            font-size: 18px;
            line-height: 20px;
        }

        .home {
            font-size: 14px;
            line-height: 16px;
            
        }
    }
}